@font-face {
    font-family: orkney;
    src: url('../public/fonts/Orkney/Orkney-Regular.woff');
    font-weight: 400;
}
@font-face {
    font-family: orkney;
    src: url('../public/fonts/Orkney/Orkney-Medium.woff');
    font-weight:500;
}
@font-face {
    font-family: orkney;
    src: url('../public/fonts/Orkney/Orkney-Light.woff');
    font-weight:300;
}
@font-face {
    font-family: orkney;
    src: url('../public/fonts/Orkney/Orkney-Bold.woff');
    font-weight:bold;
}