@import "./fonts.scss";
@import "./colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: orkney;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,figure,li,ul{
  margin:0;
  padding:0;
}
h1{
  font-family:orkney
}
li{
  list-style: none;
}
.container{
  max-width: 80rem;
  width:100%;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.space_between{
  justify-content: space-between;
}
.v_align{
  align-items: center;
}
h1{
  font-size: 3.5rem;
}
.container-fluid{
  max-width: 70rem;
  width:100%;
  margin: 0 auto;
}
p{
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}
h3{
  font-size: 2rem;
}
.flex-col{
  flex-direction: column;
}
.singlecontent{
  margin: 50px auto;
  p{
    text-align: center;
  }
}
.catpic img{
  object-fit: cover !important;
}


@media(max-width:480px){
  h3{
    font-size: 1.5rem;
  }
  h1{
    font-size: 2rem !important;
  }
}



.slick-arrow{
  background: #f6f6f6 !important;
  border-radius: 50px;
  
}
.slick-slider{
  position: relative;
}
.slick-slider .slick-next{
  position: absolute;
  top: -30px;
  right: 50px;
  height: 30px;
  width: 30px;
  color: black;
}
.slick-slider .slick-prev{
  position: absolute;
  top: -30px;
  left: auto !important;
  right: 90px;
  height: 30px;
  width: 30px;
}
.slick-prev:before, .slick-next:before{
  color: black !important;
}
.card_wrapper{
  margin-top: 50px;
}
.slick-slide img {
  object-fit: cover !important;
}